---
import { Code, Icon, LinkButton } from "@astrojs/starlight/components";
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import Logo from "../assets/Logo.svg";

const installScript = `curl -fsSL https://cdn.zaneops.dev/install.sh | sudo bash`;
---

<StarlightPage
    hasSidebar={false}
    frontmatter={{
        title: "Welcome to ZaneOps",
        hero: {
            title: "",
        },
        template: "splash",
    }}
>
    <section
        id="hero"
        class="py-12 md:py-24 grid grid-cols-1 md:grid-cols-3 gap-2 items-center"
    >
        <div
            class="md:col-span-2 flex flex-col gap-3 items-center text-center md:text-start md:items-start"
        >
            <h1 class="text-4xl md:text-5xl lg:text-6xl whitespace-nowrap">
                Welcome to ZaneOps
            </h1>
            <p>
                ZaneOps is a beautiful and fast self-hosted platform for
                deploying and managing apps, databases, static websites and
                more.
            </p>
            <Code
                lang="shell"
                code={installScript}
                frame="none"
                class="[&_.frame]:!rounded-md w-full max-w-full"
            />
            <div class="flex items-center gap-4">
                <LinkButton variant="primary" href="/installation">
                    Get started
                    <Icon name="right-arrow" />
                </LinkButton>
                <LinkButton variant="minimal" href="/installation">
                    Star us on Github
                    <Icon name="github" />
                </LinkButton>
            </div>
        </div>
        <div
            class="order-first md:order-last flex justify-center md:justify-start"
        >
            <Logo class="w-52 sm:w-80" />
        </div>
    </section>
</StarlightPage>

<style is:global>
    .hero {
        padding-block: 0 !important;
    }
    .sl-markdown-content {
        margin-top: 0;
    }
</style>
